In [64]:
import pandas as pd
import numpy as np 

from sklearn.preprocessing import LabelEncoder

In [73]:
dataset = pd.read_csv('archive/Building_Permits.csv')
dataset.shape

/var/folders/1l/cxqhmnt11g75c057bvpp1d4m0000gn/T/ipykernel_18128/239051544.py:1: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('archive/Building_Permits.csv')

(198900, 43)

In [74]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 43 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Permit Number                           198900 non-null  object
 1   Permit Type                             198900 non-null  int64
 2   Permit Type Definition                  198900 non-null  object
 3   Permit Creation Date                    198900 non-null  object
 4   Block                                   198900 non-null  object
 5   Lot                                     198900 non-null  object
 6   Street Number                           198900 non-null  int64
 7   Street Number Suffix                    2216 non-null    object
 8   Street Name                             198900 non-null  object
 9   Street Suffix                           196132 non-null  object
 10  Unit                                    29479 non-null   float64
 11  Unit Suffix                             1961 non-null    object
 12  Description                             198610 non-null  object
 13  Current Status                          198900 non-null  object
 14  Current Status Date                     198900 non-null  object
 15  Filed Date                              198900 non-null  object
 16  Issued Date                             183960 non-null  object
 17  Completed Date                          97191 non-null   object
 18  First Construction Document Date        183954 non-null  object
 19  Structural Notification                 6922 non-null    object
 20  Number of Existing Stories              156116 non-null  float64
 21  Number of Proposed Stories              156032 non-null  float64
 22  Voluntary Soft-Story Retrofit           35 non-null      object
 23  Fire Only Permit                        18827 non-null   object
 24  Permit Expiration Date                  147020 non-null  object
 25  Estimated Cost                          160834 non-null  float64
 26  Revised Cost                            192834 non-null  float64
 27  Existing Use                            157786 non-null  object
 28  Existing Units                          147362 non-null  float64
 29  Proposed Use                            156461 non-null  object
 30  Proposed Units                          147989 non-null  float64
 31  Plansets                                161591 non-null  float64
 32  TIDF Compliance                         2 non-null       object
 33  Existing Construction Type              155534 non-null  float64
 34  Existing Construction Type Description  155534 non-null  object
 35  Proposed Construction Type              155738 non-null  float64
 36  Proposed Construction Type Description  155738 non-null  object
 37  Site Permit                             5359 non-null    object
 38  Supervisor District                     197183 non-null  float64
 39  Neighborhoods - Analysis Boundaries     197175 non-null  object
 40  Zipcode                                 197184 non-null  float64
 41  Location                                197200 non-null  object
 42  Record ID                               198900 non-null  int64
dtypes: float64(12), int64(3), object(28)
memory usage: 65.3+ MB

In [75]:
len(dataset['Permit Type'].unique())

8

Tenemos 8 tipos de permisos

In [76]:
len(dataset['Permit Type Definition'].unique())

8

In [77]:
# Como tenemos 8 diferentes tipos de permiso con sus 8 definiciones podemos colapsarlas en 
# una única columna o eliminar la de descripciones ya que no aportará nada al TabularLearning
dataset.drop('Permit Type Definition', axis=1, inplace=True)
# También tenemos que eliminar el 'Permit Number' ya que es un identificador que no nos sirve de nada
dataset.drop('Permit Number', axis=1, inplace=True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 41 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Permit Type                             198900 non-null  int64
 1   Permit Creation Date                    198900 non-null  object
 2   Block                                   198900 non-null  object
 3   Lot                                     198900 non-null  object
 4   Street Number                           198900 non-null  int64
 5   Street Number Suffix                    2216 non-null    object
 6   Street Name                             198900 non-null  object
 7   Street Suffix                           196132 non-null  object
 8   Unit                                    29479 non-null   float64
 9   Unit Suffix                             1961 non-null    object
 10  Description                             198610 non-null  object
 11  Current Status                          198900 non-null  object
 12  Current Status Date                     198900 non-null  object
 13  Filed Date                              198900 non-null  object
 14  Issued Date                             183960 non-null  object
 15  Completed Date                          97191 non-null   object
 16  First Construction Document Date        183954 non-null  object
 17  Structural Notification                 6922 non-null    object
 18  Number of Existing Stories              156116 non-null  float64
 19  Number of Proposed Stories              156032 non-null  float64
 20  Voluntary Soft-Story Retrofit           35 non-null      object
 21  Fire Only Permit                        18827 non-null   object
 22  Permit Expiration Date                  147020 non-null  object
 23  Estimated Cost                          160834 non-null  float64
 24  Revised Cost                            192834 non-null  float64
 25  Existing Use                            157786 non-null  object
 26  Existing Units                          147362 non-null  float64
 27  Proposed Use                            156461 non-null  object
 28  Proposed Units                          147989 non-null  float64
 29  Plansets                                161591 non-null  float64
 30  TIDF Compliance                         2 non-null       object
 31  Existing Construction Type              155534 non-null  float64
 32  Existing Construction Type Description  155534 non-null  object
 33  Proposed Construction Type              155738 non-null  float64
 34  Proposed Construction Type Description  155738 non-null  object
 35  Site Permit                             5359 non-null    object
 36  Supervisor District                     197183 non-null  float64
 37  Neighborhoods - Analysis Boundaries     197175 non-null  object
 38  Zipcode                                 197184 non-null  float64
 39  Location                                197200 non-null  object
 40  Record ID                               198900 non-null  int64
dtypes: float64(12), int64(3), object(26)
memory usage: 62.2+ MB

In [78]:
# Eliminamos todas las columnas referentes al tipo y localización de la construcción
# Solo necesitamos como categorías espaciales la latidud y longitud
dataset.drop('Block', axis=1, inplace=True)
dataset.drop('Lot', axis=1, inplace=True)
dataset.drop('Street Number', axis=1, inplace=True)
dataset.drop('Street Number Suffix', axis=1, inplace=True)
dataset.drop('Street Name', axis=1, inplace=True)
dataset.drop('Street Suffix', axis=1, inplace=True)
dataset.drop('Unit', axis=1, inplace=True)
dataset.drop('Unit Suffix', axis=1, inplace=True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 33 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Permit Type                             198900 non-null  int64
 1   Permit Creation Date                    198900 non-null  object
 2   Description                             198610 non-null  object
 3   Current Status                          198900 non-null  object
 4   Current Status Date                     198900 non-null  object
 5   Filed Date                              198900 non-null  object
 6   Issued Date                             183960 non-null  object
 7   Completed Date                          97191 non-null   object
 8   First Construction Document Date        183954 non-null  object
 9   Structural Notification                 6922 non-null    object
 10  Number of Existing Stories              156116 non-null  float64
 11  Number of Proposed Stories              156032 non-null  float64
 12  Voluntary Soft-Story Retrofit           35 non-null      object
 13  Fire Only Permit                        18827 non-null   object
 14  Permit Expiration Date                  147020 non-null  object
 15  Estimated Cost                          160834 non-null  float64
 16  Revised Cost                            192834 non-null  float64
 17  Existing Use                            157786 non-null  object
 18  Existing Units                          147362 non-null  float64
 19  Proposed Use                            156461 non-null  object
 20  Proposed Units                          147989 non-null  float64
 21  Plansets                                161591 non-null  float64
 22  TIDF Compliance                         2 non-null       object
 23  Existing Construction Type              155534 non-null  float64
 24  Existing Construction Type Description  155534 non-null  object
 25  Proposed Construction Type              155738 non-null  float64
 26  Proposed Construction Type Description  155738 non-null  object
 27  Site Permit                             5359 non-null    object
 28  Supervisor District                     197183 non-null  float64
 29  Neighborhoods - Analysis Boundaries     197175 non-null  object
 30  Zipcode                                 197184 non-null  float64
 31  Location                                197200 non-null  object
 32  Record ID                               198900 non-null  int64
dtypes: float64(11), int64(2), object(20)
memory usage: 50.1+ MB

In [79]:
# next column to inspect is 'Current Status' 
dataset['Current Status']

0           expired
1            issued
2         withdrawn
3          complete
4            issued
            ...
198895       issued
198896       issued
198897       issued
198898       issued
198899       issued
Name: Current Status, Length: 198900, dtype: object

In [87]:
labelEncoder = LabelEncoder()

dataset['Current Status'] = labelEncoder.fit_transform(dataset['Current Status'])
dataset['Current Status']

0          5
1          8
2         13
3          3
4          8
          ..
198895     8
198896     8
198897     8
198898     8
198899     8
Name: Current Status, Length: 198900, dtype: int64