## Problema de clasificación de estado de Cirrosis usando PandasAI

In [1]:
import pandas as pd
from pandasai import SmartDataframe
from dotenv import dotenv_values
import os
# Environment key
#keys = dotenv_values("../.env-token")
#os.environ["PANDASAI_API_KEY"] = keys["PANDASAI_API_KEY"]

El código superior que está comentado en los imports es para poder cargar la variable con la clave de la api de PandasAI que por alguna razón no me la quiere leer desde la consola.

Tenemos el dataset de Kaggle <a href="https://www.kaggle.com/datasets/fedesoriano/cirrhosis-prediction-dataset">Cirrhosis Prediction Dataset</a> sobre el que queremos predecir la stage en la que podemos encontrarnos de primera mano cuando un paciente llega al hospital, para ello tenemos que crear un clasificador sobre la columna 'stage' del dataset.

Voy a utilizar el LLM default --> BambooLM para poder hacer una comparación con AIDE

In [2]:
file = pd.read_csv('Data/liver_cirrhosis.csv')
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   N_Days         25000 non-null  int64
 1   Status         25000 non-null  object
 2   Drug           25000 non-null  object
 3   Age            25000 non-null  int64
 4   Sex            25000 non-null  object
 5   Ascites        25000 non-null  object
 6   Hepatomegaly   25000 non-null  object
 7   Spiders        25000 non-null  object
 8   Edema          25000 non-null  object
 9   Bilirubin      25000 non-null  float64
 10  Cholesterol    25000 non-null  float64
 11  Albumin        25000 non-null  float64
 12  Copper         25000 non-null  float64
 13  Alk_Phos       25000 non-null  float64
 14  SGOT           25000 non-null  float64
 15  Tryglicerides  25000 non-null  float64
 16  Platelets      25000 non-null  float64
 17  Prothrombin    25000 non-null  float64
 18  Stage          25000 non-null  int64
dtypes: float64(9), int64(3), object(7)
memory usage: 3.6+ MB

In [19]:
texto = "Make a classifier for the 3 values in Stage Column"

In [20]:
smartDataframe = SmartDataframe(file, description="An isolated dataset with cirrhosis patients data")

In [21]:
response  = smartDataframe.chat("Make a classifier for the 3 values in Stage Column")
response

Traceback (most recent call last):
  File "/Users/alejandro/Documents/Repositorios/alejandromadrid/.python-pandasai-venv/lib/python3.10/site-packages/pandasai/pipelines/chat/generate_chat_pipeline.py", line 310, in run
    ).run(input)
  File "/Users/alejandro/Documents/Repositorios/alejandromadrid/.python-pandasai-venv/lib/python3.10/site-packages/pandasai/pipelines/pipeline.py", line 137, in run
    raise e
  File "/Users/alejandro/Documents/Repositorios/alejandromadrid/.python-pandasai-venv/lib/python3.10/site-packages/pandasai/pipelines/pipeline.py", line 101, in run
    step_output = logic.execute(
  File "/Users/alejandro/Documents/Repositorios/alejandromadrid/.python-pandasai-venv/lib/python3.10/site-packages/pandasai/pipelines/chat/code_execution.py", line 113, in execute
    raise e
  File "/Users/alejandro/Documents/Repositorios/alejandromadrid/.python-pandasai-venv/lib/python3.10/site-packages/pandasai/pipelines/chat/code_execution.py", line 85, in execute
    result = self.execute_code(code_to_run, code_context)
  File "/Users/alejandro/Documents/Repositorios/alejandromadrid/.python-pandasai-venv/lib/python3.10/site-packages/pandasai/pipelines/chat/code_execution.py", line 171, in execute_code
    exec(code, environment)
  File "<string>", line 7, in <module>
  File "/Users/alejandro/Documents/Repositorios/alejandromadrid/.python-pandasai-venv/lib/python3.10/site-packages/sklearn/base.py", line 1473, in wrapper
    return fit_method(estimator, *args, **kwargs)
  File "/Users/alejandro/Documents/Repositorios/alejandromadrid/.python-pandasai-venv/lib/python3.10/site-packages/sklearn/ensemble/_forest.py", line 363, in fit
    X, y = self._validate_data(
  File "/Users/alejandro/Documents/Repositorios/alejandromadrid/.python-pandasai-venv/lib/python3.10/site-packages/sklearn/base.py", line 650, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/Users/alejandro/Documents/Repositorios/alejandromadrid/.python-pandasai-venv/lib/python3.10/site-packages/sklearn/utils/validation.py", line 1273, in check_X_y
    X = check_array(
  File "/Users/alejandro/Documents/Repositorios/alejandromadrid/.python-pandasai-venv/lib/python3.10/site-packages/sklearn/utils/validation.py", line 1007, in check_array
    array = _asarray_with_order(array, order=order, dtype=dtype, xp=xp)
  File "/Users/alejandro/Documents/Repositorios/alejandromadrid/.python-pandasai-venv/lib/python3.10/site-packages/sklearn/utils/_array_api.py", line 746, in _asarray_with_order
    array = numpy.asarray(array, order=order, dtype=dtype)
  File "/Users/alejandro/Documents/Repositorios/alejandromadrid/.python-pandasai-venv/lib/python3.10/site-packages/pandas/core/generic.py", line 2070, in __array__
    return np.asarray(self._values, dtype=dtype)
ValueError: could not convert string to float: 'C'

"Unfortunately, I was not able to answer your question, because of the following error:\n\ncould not convert string to float: 'C'\n"

Como no ha logrado hacer lo pedido debido a que no es capaz de pasar datos del tipo Object a Floats (hace una conversión directa a String pero no es capaz de hacer la segunda a Float --> aplicando un Encoder) vamos a solucionar el error de forma manual viendo donde ha fallado exactamente y seguimos con la ejecución

In [23]:
print(smartDataframe.last_code_executed)

df = pd.concat(dfs)
df['Stage'] = df['Stage'].map({'1': 1, '2': 2, '3': 3})
X = df.drop(columns=['Stage'])
y = df['Stage']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
rf_classifier = RandomForestClassifier()
rf_classifier.fit(X_train, y_train)
y_pred = rf_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
result = {'type': 'string', 'value': f'The accuracy of the classifier for the Stage column is {accuracy}.'}

Probamos el código recién ejecutado

In [6]:
# ponermos los imports que no ofrece la solución de PandaAI
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [29]:

df = file
df['Stage'] = df['Stage'].map({'1': 1, '2': 2, '3': 3})
X = df.drop(columns=['Stage'])
y = df['Stage']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
rf_classifier = RandomForestClassifier()
rf_classifier.fit(X_train, y_train)
y_pred = rf_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
result = {'type': 'string', 'value': f'The accuracy of the classifier for the Stage column is {accuracy}.'}

ValueError: could not convert string to float: 'C'

### Como solucionar el error

Como no hemos conseguido que haga un encoder y luego haga el entrenamiento de modelo. vamos a pedirle que haga un encoder de las columnas tipo objeto de nuestro dataset

In [3]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   N_Days         25000 non-null  int64
 1   Status         25000 non-null  object
 2   Drug           25000 non-null  object
 3   Age            25000 non-null  int64
 4   Sex            25000 non-null  object
 5   Ascites        25000 non-null  object
 6   Hepatomegaly   25000 non-null  object
 7   Spiders        25000 non-null  object
 8   Edema          25000 non-null  object
 9   Bilirubin      25000 non-null  float64
 10  Cholesterol    25000 non-null  float64
 11  Albumin        25000 non-null  float64
 12  Copper         25000 non-null  float64
 13  Alk_Phos       25000 non-null  float64
 14  SGOT           25000 non-null  float64
 15  Tryglicerides  25000 non-null  float64
 16  Platelets      25000 non-null  float64
 17  Prothrombin    25000 non-null  float64
 18  Stage          25000 non-null  int64
dtypes: float64(9), int64(3), object(7)
memory usage: 3.6+ MB

In [32]:
file.head()

,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,2221,C,Placebo,18499,F,N,Y,N,N,0.5,149.0,4.04,227.0,598.0,52.70,57.0,256.0,9.9,0
1,1230,C,Placebo,19724,M,Y,N,Y,N,0.5,219.0,3.93,22.0,663.0,45.00,75.0,220.0,10.8,0
2,4184,C,Placebo,11839,F,N,N,N,N,0.5,320.0,3.54,51.0,1243.0,122.45,80.0,225.0,10.0,0
3,2090,D,Placebo,16467,F,N,N,N,N,0.7,255.0,3.74,23.0,1024.0,77.50,58.0,151.0,10.2,0
4,2105,D,Placebo,21699,F,N,Y,N,N,1.9,486.0,3.54,74.0,1052.0,108.50,109.0,151.0,11.5,0

Como podemos observar, tenemos muchas columnas con el tipo objeto que no podemos parsear a float, es por eso que PandasAI no es capaz de hacer lo  suyo, para ayudarle vamos a aplicar una serie de cambios para que este pueda trabajar bien.

Vamos a hacer un análisis básico para ver cuantos valores tenemos que intercambiar

In [6]:
object_columns = ['Status', 'Drug', 'Sex', 'Ascites', 'Hepatomegaly', 'Spiders', 'Edema']
[print(file[column].unique(), ': ', column) for column in object_columns]

['C' 'D' 'CL'] :  Status
['Placebo' 'D-penicillamine'] :  Drug
['F' 'M'] :  Sex
['N' 'Y'] :  Ascites
['Y' 'N'] :  Hepatomegaly
['N' 'Y'] :  Spiders
['N' 'Y' 'S'] :  Edema

[None, None, None, None, None, None, None]

Como vemos, tenemos que hacer cambios para que los valores unicos tomen valores que podamos categorizar como float o como int, podríamos usar cambios con el argumento inplace=True pero vamos a optar por que lo haga el propio pandasai

In [3]:
smartDataframe = SmartDataframe(file)
response = smartDataframe.chat('Make a encoder or transform the data from the columns with Object type and make it int or float')
response

N_Days             int64
Status            object
Drug              object
Age                int64
Sex               object
Ascites           object
Hepatomegaly      object
Spiders           object
Edema             object
Bilirubin        float64
Cholesterol      float64
Albumin          float64
Copper           float64
Alk_Phos         float64
SGOT             float64
Tryglicerides    float64
Platelets        float64
Prothrombin      float64
Stage              int64
dtype: object
N_Days             int64
Status              int8
Drug                int8
Age                int64
Sex                 int8
Ascites             int8
Hepatomegaly        int8
Spiders             int8
Edema               int8
Bilirubin        float64
Cholesterol      float64
Albumin          float64
Copper           float64
Alk_Phos         float64
SGOT             float64
Tryglicerides    float64
Platelets        float64
Prothrombin      float64
Stage              int64
dtype: object

,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,2221,0,1,18499,0,0,1,0,0,0.5,149.000000,4.04,227.0,598.0,52.70,57.000000,256.0,9.9,1
1,1230,0,1,19724,1,1,0,1,0,0.5,219.000000,3.93,22.0,663.0,45.00,75.000000,220.0,10.8,2
2,4184,0,1,11839,0,0,0,0,0,0.5,320.000000,3.54,51.0,1243.0,122.45,80.000000,225.0,10.0,2
3,2090,2,1,16467,0,0,0,0,0,0.7,255.000000,3.74,23.0,1024.0,77.50,58.000000,151.0,10.2,2
4,2105,2,1,21699,0,0,1,0,0,1.9,486.000000,3.54,74.0,1052.0,108.50,109.000000,151.0,11.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,3584,2,0,23612,0,0,0,0,0,0.8,231.000000,3.87,173.0,9009.8,127.71,96.000000,295.0,11.0,2
24996,3584,2,0,23612,0,0,0,0,0,0.8,231.000000,3.87,173.0,9009.8,127.71,96.000000,295.0,11.0,2
24997,971,2,0,16736,0,0,1,1,2,5.1,369.510563,3.23,18.0,790.0,179.80,124.702128,104.0,13.0,3
24998,3707,0,0,16990,0,0,1,0,0,0.8,315.000000,4.24,13.0,1637.0,170.50,70.000000,426.0,10.9,2
24999,3707,0,0,16990,0,0,1,0,0,0.8,315.000000,4.24,13.0,1637.0,170.50,70.000000,426.0,10.9,2

Como podemos ver, ha hecho los cambios necesarios para que las columnas que antes teníamos como objeto sean del tipo int o incluso binarias para los valores que únicamente tienen 2 posibles valores. 

Sacamos el código recién ejecutado.

In [5]:
print(smartDataframe.last_code_executed)

print(dfs[0].dtypes)
object_columns = dfs[0].select_dtypes(include=['object']).columns
for col in object_columns:
    dfs[0][col] = pd.Categorical(dfs[0][col])
    dfs[0][col] = dfs[0][col].cat.codes
print(dfs[0].dtypes)
result = {'type': 'dataframe', 'value': dfs[0]}

Podríamos haber vuelto a ejecutar una consulta sobre el propio smartDataFrame ejecutado pero prefiero ejecutar luego el código así podemos depurar o incluso ver la forma que va tomando la solución de PandasAI.

Aplicamos el código recién sacado a nuestro dataset para tener el cambio hecho y poder realizar la llamada que primeramente nos daba error

In [3]:
object_columns = file.select_dtypes(include=['object']).columns
for col in object_columns:
    file[col] = pd.Categorical(file[col])
    file[col] = file[col].cat.codes
print(file.dtypes)
result = {'type': 'dataframe', 'value': file}

N_Days             int64
Status              int8
Drug                int8
Age                int64
Sex                 int8
Ascites             int8
Hepatomegaly        int8
Spiders             int8
Edema               int8
Bilirubin        float64
Cholesterol      float64
Albumin          float64
Copper           float64
Alk_Phos         float64
SGOT             float64
Tryglicerides    float64
Platelets        float64
Prothrombin      float64
Stage              int64
dtype: object

Los cambios que ha realizado son object --> int8

Hacemos la llamada que hicimos al principio que nos salió error al no poder convertir datos tipo objeto a float

In [4]:
smartDataframe = SmartDataframe(file)
response  = smartDataframe.chat("Make a classifier with the Stage columns as the label column. It's a 3 class classifier")
print(response)
print(smartDataframe.last_code_executed)

The accuracy of the classifier is 0.9558
df = pd.concat(dfs)
X = df.drop('Stage', axis=1)
y = df['Stage']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
result = {'type': 'string', 'value': f'The accuracy of the classifier is {accuracy}'}

Como podemos observar, PandasAI ahora si ha sido capaz de resolver debidamente el problema y ha conseguido una accuracy mayor al 95% lo que es un buen número, faltaría comprobar otras métricas para ver si consigue predecir de forma correcta o solo es capaz de detectar las clases.

Ejecutamos el código recién ejecutado

In [7]:
df = file
X = df.drop('Stage', axis=1)
y = df['Stage']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
result = {'type': 'string', 'value': f'The accuracy of the classifier is {accuracy}'}

In [8]:
print(result)

{'type': 'string', 'value': 'The accuracy of the classifier is 0.9558'}